<html>
  <head>
    <link rel="stylesheet" href="/main.css" />
    <title>Simple Password Generator</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ffindicons.com%2Ffiles%2Ficons%2F2804%2Fplex%2F256%2Fpassword_manager.png&f=1&nofb=1" alt="" width="30" class="d-inline-block align-text-top">
          Simple Password Generator
        </a>
      </div>
    </nav>
    <br />
    <h1 class="txt">Embedding SPG to your signup pages!</h1>
    <p>Embedding SPG to your signup pages helps SPG grow, and ensures that your site's users can use a secure password. You can embed SPG's special &amp; lighter embed version to your website's signup pages by reading below.</p>
    <h1 class="txt">How do I do it?</h1>
    <p>SPG detects if the website is being loaded via an embed (iframe only) &amp; loads a lighter version. You can either embed SPG by yourself by using the main url (spg.ar-dev.cf) OR by using our premade embed script. To use the premade embed script, place the following HTML where you want to embed SPG:</p>
    <pre><code>&lt;script src=&quot;https://spg.ar-dev.cf/embed.js&quot;&gt;&lt;/script&gt;</code></pre>
    <h1 class="txt">What does it look like?</h1>
    <p>We'll embed it right here!</p>
    <script src="https://spg.ar-dev.cf/embed.js"></script>
    <br />
    <br />
    <br />
    <p>Below is an example image of a signup page using the premade script</p>
    <img src="/embed/images/embedexample.png" style="border-radius:7px;" alt="example">
    <br />
    <br />
    <disclaimer>Do note, SPG is not a password storage system, only a generator for passwords. Use your browser's built in password storage system for storing passwords.</disclaimer>
    <br /><br />
    <footer class="text-center text-white" style="background-color:#c801cb;">
      <div class="text-center p-3">
        © 2021 
        <a class="text-white" style="text-decoration:none;" href="https://spg.ar-dev.cf">Simple Password Generator</a>
        <br />
        <a target="_blank" href="https://github.com/AR-Student824/spg" class="gh">GitHub</a>
      </div>
    </footer>
  </body>
</html>