<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Password Generator</title>
    <link href="/terminal.css" rel="stylesheet" />
</head>

<body>
    <br />
    <p>$desktop spg gen</p>
    <p style="color:green;">Generation success!</p>
    <p><b id="pw"></b></p>
    <a href="javascript:eval(atob('bG9jYXRpb24ucmVsb2FkKCk='))">Generate new</a> | <a href="javascript:eval(atob('d2luZG93LmxvY2F0aW9uLmhyZWYgPSAiL2FwaSI7'))">API</a> | <a href="javascript:eval(atob('IWZ1bmN0aW9uKCl7YWxlcnQoYFlvdXIgc2VjdXJlIHBhc3N3b3JkIGlzOiAke2Z1bmN0aW9uKHI9MzApe3ZhciBlPW5ldyBVaW50OEFycmF5KHIpO3JldHVybiB3aW5kb3cuY3J5cHRvLmdldFJhbmRvbVZhbHVlcyhlKSxidG9hKFN0cmluZy5mcm9tQ2hhckNvZGUuYXBwbHkobnVsbCxlKSkucmVwbGFjZSgvXC8vZywiXyIpLnJlcGxhY2UoL1wrL2csIiIpLnJlcGxhY2UoL1w9L2csIiIpLnN1YnN0cmluZygwLHIpfSgpfWApfSgpOw=='))">SPG Bookmarklet</a><br /><br />
    <div class="comment"># Drag the bookmarklet link to your bookmarks folder & click it everytime you want to quickly generate a password. Works on most sites.</div><br />
    <p class="endCmd"></p><br />
    <p><sup><i>Simple Password Generator v1 | This is a simple simulated terminal with CSS &amp; JavaScript.</i></sup></p>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>
        var typed = new Typed('.endCmd', {strings: ['$desktop spg conclusion<br/><br/>Thanks for using Simple Password Generator!<br />Github: Soon<br />We do not track you or store generated passwords in anyway, it is just a simple JavaScript script. Your data is 100% secure &amp; this project is open source.']})
    </script>
    <script>
        function gen(length = 30) {
        var buf = new Uint8Array(length);window.crypto.getRandomValues(buf);
        var value = btoa(String.fromCharCode.apply(null, buf)).replace(/\//g,"_").replace(/\+/g,"").replace(/\=/g,"").substring(0,length)
        document.getElementById('pw').innerHTML = value
        }
        gen()
    </script>
</body>